<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrlQuotesApi" value="https://api.hgbrasil.com/finance/stock_price?key="/>
    <add key="mailFrom" value="username@gmail.com"/>
    <add key="mailsTo" value="mailTo1@gmail.com; matilTo2@terra.com.br"/>
    <add key="hgBrasilApiKey" value="6f3722a9"/>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpUsrPwd" value="xxxxxxxxx"/>
  </appSettings>
</configuration>